body {
  padding: 10px;
  font-family: Calibri, Roboto;
  background-color: #95e1d3;
}

img {
  width: 170px;
  border-radius: 50%;
  margin-right: 10px
}

.title{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eaffd0;
  border-bottom: 2px solid;
  border-color: #f38181 ;
}

.project-item{
  border-top-right-radius: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fce38a;
  border-bottom: 2px solid;
  border-color: #f38181 ;
}
.experience{
  margin-bottom: 10px;
}
ol{
  list-style-type: square;
}

tr{
  vertical-align: top;
}
td{
  min-width: 100px
}
